<div class="form-container">
  <div class="form">
    <div class="form-text">
      <img src="../../../assets/fundooNote.png">
      <form (ngSubmit)="onSubmit()">
        <div>
          <h1 style="font-weight: 500;font-family: Comic Sans MS ;">Create your Fundoo Note Account</h1>
          <h4>to continue to Fundoo</h4>
        </div>
        <div class="form-content">
          <div class="names">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>First Name</mat-label>
              <input matInput class="input" id="first_name" name="first_name" formControlName="firstName" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Last Name</mat-label>
              <input matInput class="input" id="first_name" name="first_name" formControlName="lastName" />
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="Email" id="Email" class="input" formControlName="email" />
            <mat-hint *ngIf="!submitted">You can use letters ,numbers or periods</mat-hint>
          </mat-form-field>

          <div class="password">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" class="input" formControlName="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint *ngIf="!submitted">
                Use 8 or more characters with a mix of letters, numbers & symbols
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Confirm</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" class="input" formControlName="confirm" />
            </mat-form-field>

          </div>

        </div>

        <div class="form-footer">
          <div>
            <button mat-button color="primary" routerLink="/login">
              Sign in instead
            </button>
          </div>
          <div>
            <button mat-flat-button color="primary" id="login-button">
              Sign Up
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="image-signup">
      <div class="image-item">
        <img src="../../../assets/signUp.jpg" />
      </div>
      <div>
        <p id="image-text">
          One account. All of Fundoo Note<br /> working for you.
        </p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

