<div class="container">
  <div class="form">
    <div>
      <div class="logo"><img src="../../../assets/fundooNote.png"></div>
      <form (ngSubmit)="onSubmit()">
        <div class="form-text">
          <h2>Create your Fundoo Note Account</h2>
          <h4>to continue to Fundoo</h4>
        </div>
        <div class="form-content">
          <div>
            <mat-form-field appearance="outline" class="names">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="" formControlName="firstName" />
              <mat-error>Enter first and last names</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="names">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="email">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
            <mat-hint *ngIf="!submitted">You can use letters ,numbers or periods</mat-hint>
          </mat-form-field>
          <div>
            <mat-form-field appearance="outline" class="confirm">
              <mat-label>Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="confirm">
              <mat-label>Confirm</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm" />
            </mat-form-field>
            <div style="font-size: x-small;">
              <mat-hint *ngIf="!submitted">
                Use 8 or more characters with a mix of letters, numbers & symbols
              </mat-hint>
            </div>
            <div class="checkbox">
              <mat-checkbox id="showPassword" (click)="ShowPassword()">{{hide ? 'Show Password':'Hide Password'}}
              </mat-checkbox>
            </div>
          </div>
          <div>
            <span><button mat-button color="primary" routerLink="/login" class="btn">
                Sign in instead
              </button></span> <span><button mat-flat-button color="primary" class="btn1">
                Sign Up
              </button></span>
          </div>
        </div>
      </form>
    </div>
    <div class="imageContainer">
      <img src="../../../assets/signUp.jpg">
      <p>One account. All of fundooNote Account <br> working for you</p>
    </div>
  </div>
</div>
