@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

@mixin flex($display, $alignitems, $justifycontent, $flexdirection) {
  // Mixin with defaults
  display: $display;
  align-items: $alignitems;
  justify-content: $justifycontent;
  flex-direction: $flexdirection;
}
@mixin fontSize($size) {
  font-size: $size;
}

$box-size: 8px;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: small;
  }
  img {
    display: block;
  }
}

.form-text {
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}

mat-form-field {
  font-size: 13px;
  width: 35%;
  input {
    padding: 1px;
  }
}

mat-label {
  font-size: 14px;
}

mat-error {
  font-size: 10px;
}

.form {
  size: 200;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  border: 1px solid rgb(141, 138, 138);
  border-radius: 12px;
  padding: 3%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.btn1 {
  margin-left: 100px;
  margin-top: 40px;
}

.text {
  text-align: left;
  font-family: Lucida;
  font-weight: 900;
  justify-content: center;
}

.form-content {
  display: flex;
  flex-flow: column wrap;
}

.email {
  width: 71.5%;
  font-size: 13px;
}

.confirm {
  padding: 2px;
}

.form-footer {
  width: 100%;
  display: flex;
  margin: 5% 0;
  text-align: center;
}

.names {
  padding: 2px;
}

.form-field {
  margin-right: 3px;
}

.image-signup {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}

.checkbox {
  margin-top: 20px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.3em 9px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.6em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1em) scale(0.75);
  width: 103.33333%;
}

@media only screen and (max-width: 750px) {
  .imageContainer {
    display: none !important;
  }

  .names {
    width: 85% !important;
    font-size: 20px;
    margin-left: 25px;
  }

  .confirm {
    width: 85% !important;
    font-size: 17px;
    margin-left: 25px;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  mat-form-field {
    width: 100% !important;
  }

  .email {
    width: 85% !important;
    font-size: 17px;
    margin-left: 25px;
  }

  .checkbox {
    margin-left: 25px;
  }

  mat-hint {
    color: #5f6368;
    font-size: 13px;
    padding-bottom: 4px;
    margin-left: 25px;
  }

  .form-text {
    h2,
    h4 {
      font-size: 20px;
      text-align: center;
    }
  }

  .form-footer {
    display: flex;
    flex-flow: column;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    border: none;
    box-shadow: none;
  }
}
